.edit-article-card {
    border-color: #A03E99;
    border: 1em;
    background-color: white;
    margin: 2% ;
    display: flex;
    text-align: center;
    
}

.reading-card {
    padding: 3rem;  
    padding: 2%;
    display: inline;
}

.reading-card img {
    position: relative;
   /* top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);*/
    max-width: 13%;
    max-height: 50%;
}

.reading-article-card .title {
    text-align: center;
    display: inline;
    font-weight: bold;
    font-size: 5.0rem;
}

.reading-article-card .author {
    text-align: center;
    
    font-weight: bold;
    font-size: 1.5rem;
}

.reading-article-card .short-content {
    text-align: justify;
    display: inline;
}

.edit-change-button button {
    float: center;
    border: none;
    background: none;
    padding: 1rem;
    color:  white;
    background: rgb(38, 10, 108);
    cursor: pointer;
    width: 8%;
}

.edit-change-button button:hover {
    color: white;
    background-color: rgb(38, 10, 108);
    transition: ease-in 0.5s;
}

.avatar {
    border-radius: 50%;
}

.display-profile  {
    border: 1em;
    background-color: white;
    display: block;
    margin: -1.0em auto;
    text-align: center;
}

.button {
    border: none;
    background-color: #dcd3e4;
    display: block;
    margin: 0.5em auto;
    text-align: right;
}

fieldset h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

form input, form button {
    border: none;
    background: white;
    background-color: #eee;
    padding: 12px 15px;
    width: 50%;
    position: center;
}

form button {
    color:  white;
    background: rgb(38, 10, 108);
    cursor: pointer;
    width: 20%;
}

form button:hover {
    background: #FF335A;
    transition: all 0.3s ease;
}