* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

#login-container, #signup-container {
    display: flex;
    height: 100%;
    width: 75%;
}

#login-image, #signup-image {
    background: #A03E99;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   
    display: block;
    text-align: center;    
    width: 50%;
}

#login-image h2, #signup-image h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 5em;
}

#login-image p, #signup-image p {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 1.5em;
}

#login-box, #signup-box {
    display: block;
    text-align: center;
    width: 50%;
}

fieldset {
    border: none;
    align-items: center;
    justify-content: center;
}

form input, form button {
    border: none;
    background: white;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 60%;
}

form button {
    color:  white;
    background: #A03E99;
    cursor: pointer;
    width: 30%;
}

form button:hover {
    background: #371E30;
    transition: all 0.3s ease;
}