* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    display: block;
    background: #dcd3e4;
}

/* Article card design */
.article-card {
    border-color: #A03E99;
    border: 1em;
    background-color: white;
    margin: 2% ;
    display: flex;
}

.article-card .short-content {
    text-align: justify;
}

.card-left {
    width: 30%;
    padding: 3rem;
    text-align: center;
}

.card-left img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-right {
    width: 70%;
    /* margin: 0.5 rem; */
    /* margin: 2%; */
    padding: 2%;
}

.article-card .title {
    font-weight: bold;
    font-size: 2.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.card-right button {
    float: right;
    border: none;
    background: none;
    padding: 1rem;
}
.card-right button:hover {
    color: white;
    background-color: rgb(38, 10, 108);
    transition: ease-in 0.5s;
}

.avatar {
    border-radius: 50%;
}

#navbar {
    display: inline-flex;
    align-items: center;
    background: rgb(38, 10, 108);
    height: 5rem;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    margin: 0rem 1rem 0rem 0rem;
}

#brand {
    width: 30%;
    color: white;
    font-size: 2.5rem;
    padding: 2rem;
}

#logo {
    display: flex;
    align-items: center;
    width: 20%;
}

nav {
    width: 50%;
    display:flex;
}

#navbar nav a {
    color: white;
    font-size: 1.5em;
    margin: 2rem;
    text-decoration: none;
}

#navbar nav a:hover{
    color:#FF335A;
    text-decoration: underline;
    transition: all ease-in 0.3s;
}

#navbar nav a.active{
    color: white;
    text-decoration: underline;
}

#navbar #logo img {
    max-height: 3rem;
    width: auto;
    object-fit: cover;
}

#navbar nav button {
    color: white;
    float: right;
    border: none;
    background: none;
    padding: 1rem;
    margin: 1rem;
}
#navbar nav button:hover {
    background: #FF335A;
    transition: all 0.3s ease;
}