body {
    display: block;
}

#main {
    display: block;
    width: 80%;
    margin: auto;
}

#user-details h1, #main-panel h1 {
    font-size: 2.5rem;
    color: rgb(38, 10, 108);
    text-align: center;
}


#user-card, .article-card {
    background-color: white;
    border-color: #A03E99;
    border: 1em;
    background-color: white;
    margin: 2% ;
    display: flex;
}

.draft-message {
    text-align: right;
    color: #111111;
}
/* 
#user-card {
    max-height: 20rem;
} */

#user-card #username {
    font-size: 2rem;
}
