.reading-article-card {
    border-color: #A03E99;
    border: 1em;
    background-color: white;
    margin: 2% ;
    display: flex;
    text-align: center;
    
}

.reading-card {

    padding: 3rem;
   
    width: 100%;
    /* margin: 0.5 rem; */
    /* margin: 2%; */
    padding: 2%;
}

.reading-card img {
    position: relative;
   /* top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);*/
    max-width: 13%;
    max-height: 50%;
}

.reading-article-card .title {
    text-align: center;
    display: inline;
    font-weight: bold;
    font-size: 5.0rem;
}

.reading-article-card .author {
    text-align: center;
    
    font-weight: bold;
    font-size: 1.5rem;
}

.reading-article-card .short-content {
    text-align: justify;
    display: inline;
}

.reading-card button {
    float: right;
    border: none;
    background: none;
    padding: 1rem;
    color:  white;
    background: rgb(38, 10, 108);
    cursor: pointer;
    width: 8%;
}

.reading-card button:hover {
    color: white;
    background-color: rgb(38, 10, 108);
    transition: ease-in 0.5s;
}

.avatar {
    border-radius: 50%;
}